html { background-color: #000000; /*so that there isn't a blindingly bright flash of white before the dark theme loads*/ }

body {
    background-color: var(--background);
    color: var(--body);
    font-family: didot;
    min-height: 100vh;
    min-width: 100vh;
}

/*nav stuff*/
nav {
    text-align: right;
    text-transform: lowercase;
    margin-bottom:20px;
}
nav li {
    display: inline;
    margin: 20px;
}
a {
    color: var(--link);
    text-decoration: none;
    border: 3px dashed var(--link-hover);
    padding: 2px;
}
a:hover {
    color: var(--link-hover);
    border: 3px solid var(--link-hover);
    padding: 2px;
}

/* container class; gives a margin */
.container {
    width: 80%;
    margin: auto;
    padding-top: 30px;
}

button {
    display: inline-block;
    background-color: gray;
    color: white;
    margin: 0px 20px;
    text-align: center;
}

header p {
    display: inline-block;
}

header {
    border-bottom: var(--body) 10px solid;
}

#content {
    padding: 20px;
    line-height: 2;
}
#content img {
    max-width:33%;
    max-height:20%;
    margin:30px;
}
footer {
    clear: both;
    text-align: center;
    font-size: 10px;
    text-transform: lowercase;
    padding-bottom: 10px;
    /*make it stick to the bottom of the viewport*/
}
